spring:
  application:
    name: ExpenseTracker
  jackson:
    serialization:
      write-dates-as-timestamps: false
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver

  mail:
    host: smtp.gmail.com
    port: 587
    username: expensetracker.app.test@gmail.com
    password: znbryslfbzifnpex
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
        # Enable debug during local development
        debug: true

server:
  port: 8081

logging:
  level:
    org.springframework.cloud.vault: DEBUG
    org.springframework.vault: DEBUG
    com.expensetracker.security: DEBUG
    org.springframework.security: DEBUG
    org.springframework.web.cors: DEBUG